<aside class="p-share">
  <div class="share-inner">
    <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebook" class="fb" target="_blank" rel="nofollow"></a>
    <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitter" class="tw" target="_blank" rel="nofollow"></a>
  </div>
</aside>
